<?php echo $block->getChildHtml() ?>
<div class="recaptcha-wrapper2 form-list2">
    <div class="g-recaptcha" data-sitekey="<?php echo $block->getRecaptchaSiteKey(); ?>" data-callback="validateReCaptcha"></div>
</div>
