<?php
/**
 * @var Northern\GoogleRecaptcha\Block\Captcha $block
 */
?>
<?php //if (Mage::helper('google_recaptcha')->getUseRecaptcha()): ?>
<div class="recaptcha-wrapper form-list">
    <div class="g-recaptcha" data-sitekey="<?php echo $block->getRecaptchaSiteKey(); ?>" data-callback="validateReCaptcha"></div>
</div>
<?php //endif; ?>
